@model Protolo.Application.Web.Areas.System.Models.ApplicationSettingsViewModel


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
    <div class="form-btn">
        <button type="button" class="btn btn-orange">Save</button>
        <button type="button" class="btn btn-orange-outline" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    </div>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>Participant:</label>
        <input type="text" class="form-control txtRequired" placeholder="">
    </div>
</div>